
*.zip
北京TAZ交互流+用户属性统计/北京TAZ交互流+用户属性统计/数据说明.docx
*.shp
*.csv
*.dbf
*.prj
*.qpj
*.shx
data/Guangdong/.DS_Store
*.npy
data/Guangdong/grids_500/东莞市.cpg
data/Guangdong/grids_500/东莞市.sbn
data/Guangdong/grids_500/东莞市.sbx
data/Guangdong/grids_500/东莞市.shp.xml
data/Guangdong/grids_500/中山市.cpg
data/Guangdong/grids_500/中山市.sbn
data/Guangdong/grids_500/中山市.sbx
data/Guangdong/grids_500/中山市.shp.xml
data/Guangdong/grids_500/云浮市.cpg
data/Guangdong/grids_500/云浮市.sbn
data/Guangdong/grids_500/云浮市.sbx
data/Guangdong/grids_500/云浮市.shp.xml
data/Guangdong/grids_500/佛山市.cpg
data/Guangdong/grids_500/佛山市.sbn
data/Guangdong/grids_500/佛山市.sbx
data/Guangdong/grids_500/佛山市.shp.xml
data/Guangdong/grids_500/广州市.cpg
data/Guangdong/grids_500/广州市.sbn
data/Guangdong/grids_500/广州市.sbx
data/Guangdong/grids_500/广州市.shp.xml
data/Guangdong/grids_500/惠州市.cpg
data/Guangdong/grids_500/惠州市.sbn
data/Guangdong/grids_500/惠州市.sbx
data/Guangdong/grids_500/惠州市.shp.xml
data/Guangdong/grids_500/揭阳市.cpg
data/Guangdong/grids_500/揭阳市.sbn
data/Guangdong/grids_500/揭阳市.sbx
data/Guangdong/grids_500/揭阳市.shp.xml
data/Guangdong/grids_500/梅州市.cpg
data/Guangdong/grids_500/梅州市.sbn
data/Guangdong/grids_500/梅州市.sbx
data/Guangdong/grids_500/梅州市.shp.xml
data/Guangdong/grids_500/汕头市.cpg
data/Guangdong/grids_500/汕头市.sbn
data/Guangdong/grids_500/汕头市.sbx
data/Guangdong/grids_500/汕头市.shp.xml
data/Guangdong/grids_500/汕尾市.cpg
data/Guangdong/grids_500/汕尾市.sbn
data/Guangdong/grids_500/汕尾市.sbx
data/Guangdong/grids_500/汕尾市.shp.xml
data/Guangdong/grids_500/江门市.cpg
data/Guangdong/grids_500/江门市.sbn
data/Guangdong/grids_500/江门市.sbx
data/Guangdong/grids_500/江门市.shp.xml
data/Guangdong/grids_500/河源市.cpg
data/Guangdong/grids_500/河源市.sbn
data/Guangdong/grids_500/河源市.sbx
data/Guangdong/grids_500/河源市.shp.xml
data/Guangdong/grids_500/深圳市.cpg
data/Guangdong/grids_500/深圳市.sbn
data/Guangdong/grids_500/深圳市.sbx
data/Guangdong/grids_500/深圳市.shp.xml
data/Guangdong/grids_500/清远市.cpg
data/Guangdong/grids_500/清远市.sbn
data/Guangdong/grids_500/清远市.sbx
data/Guangdong/grids_500/清远市.shp.xml
data/Guangdong/grids_500/湛江市.cpg
data/Guangdong/grids_500/湛江市.sbn
data/Guangdong/grids_500/湛江市.sbx
data/Guangdong/grids_500/湛江市.shp.xml
data/Guangdong/grids_500/潮州市.cpg
data/Guangdong/grids_500/潮州市.sbn
data/Guangdong/grids_500/潮州市.sbx
data/Guangdong/grids_500/潮州市.shp.xml
data/Guangdong/grids_500/珠海市.cpg
data/Guangdong/grids_500/珠海市.sbn
data/Guangdong/grids_500/珠海市.sbx
data/Guangdong/grids_500/珠海市.shp.xml
data/Guangdong/grids_500/肇庆市.cpg
data/Guangdong/grids_500/肇庆市.sbn
data/Guangdong/grids_500/肇庆市.sbx
data/Guangdong/grids_500/肇庆市.shp.xml
data/Guangdong/grids_500/茂名市.cpg
data/Guangdong/grids_500/茂名市.sbn
data/Guangdong/grids_500/茂名市.sbx
data/Guangdong/grids_500/茂名市.shp.xml
data/Guangdong/grids_500/阳江市.cpg
data/Guangdong/grids_500/阳江市.sbn
data/Guangdong/grids_500/阳江市.sbx
data/Guangdong/grids_500/阳江市.shp.xml
data/Guangdong/grids_500/韶关市.cpg
data/Guangdong/grids_500/韶关市.sbn
data/Guangdong/grids_500/韶关市.sbx
data/Guangdong/grids_500/韶关市.shp.xml
data/北京TAZ交互流+用户属性统计/TAZ2010_WGS84-All.cpg
data/北京TAZ交互流+用户属性统计/TAZ2010_WGS84-All.shp.xml
data/北京TAZ交互流+用户属性统计/六环.cpg
data/北京TAZ交互流+用户属性统计/六环.sbn
data/北京TAZ交互流+用户属性统计/六环.sbx
data/北京TAZ交互流+用户属性统计/数据说明.docx
Guangzhou_with_degree_distribution.cpg
*.qgz
abolished
data/北京TAZ交互流+用户属性统计
data/US
results/*